[2017-10-08 22:26] goatshriek opened #1 "documentation missing for scripts folder"
folder also needs a README within

[2017-10-09 12:33] #1 closed

[2017-11-22 20:55] goatshriek opened #2 "Missing version capability in headers"
There needs to be a way to determine the version of the library in use. This should be in both the header files as a `#define` as well as from a function call, so that the version of the header files and of the shared library itself can be determined.

[2017-11-22 21:23] #2 closed

[2017-11-23 18:40] goatshriek opened #3 "Logged messages do not match RFC 5424"
Current messages are logged directly to the output, instead of formatted as an RFC 5424 message.

[2017-12-27 19:09] goatshriek commented on #3
Unfortunately, writing tests for this has revealed an issue in my current development environment regarding c++ support of the regex std library. I will need to get a more modern development environment in case (GCC 4.9 or newer) in order to continue work on this issue.

[2017-12-27 19:18] goatshriek opened #4 "buffer target wraparound is not tested"
The testing for the buffer target needs to be enhanced to cover wraparound in the provided buffer.

[2017-12-27 21:57] goatshriek opened #5 "need ability to check environment for build and development prerequisites"
this would presumably sit in the scripts folder along with the headers_check.pl script

[2018-01-14 21:47] goatshriek opened #6 "no robust list data structure"
Need to settle on and use a list data structure that allows for fast one-way traversal

[2018-01-14 21:48] goatshriek commented on #3
test code for this is complete to a point where it is usable, however the implementation of structured data requires a list mechanism to be developed

[2018-01-15 13:04] #3 closed

[2018-01-15 18:13] #6 closed

[2018-02-19 14:54] goatshriek commented on #5
added support for autoconf which creates a config.mk file to allow this checking

[2018-02-19 14:54] #5 closed

[2018-04-10 02:36] #4 closed

[2019-03-23 01:20] goatshriek opened #52 "current target will be invalid after it is closed"
The current target is set to to the last opened target, or it can be manually set by the user using the `stumpless_set_current_target` function. However, if this target is closed the current target pointer is not changed, and will still point to the invalid memory.

The target closure functions need to be updated to reset the current target. It would make the most sense to set the current target t

[2019-03-23 01:27] goatshriek opened #53 "error codes are not included in perror output"
The error id is not included in the output of `stumpless_perror`, which could add some extra steps when troubleshooting. The goal of the perror function is to prevent manual print statements, and there is also not a way to easily get the name of the error even if the code itself is retrieved (as it will be an integer and not a string).

This could easily be solved by adding a new public function l

[2019-03-23 01:37] goatshriek opened #54 "socket targets may fail to bind to local socket when not provided"
Socket targets can be opened with a local socket name provided, but this may also be set to NULL, in which case a local socket is generated (see [the documentation](https://goatshriek.github.io/stumpless/docs/c/v1-5-0/socket_8h.html) of `stumpless_open_socket_target` for details). However, this socket is always the same, which means that if a target is not properly closed the local socket will rem

[2020-01-16 16:43] annesuzuki commented on #52
Hi @goatshriek , I'd like to contribute to this project. Can I have a go at solving the issue? Thanks!

[2020-01-17 03:42] goatshriek commented on #52
Absolutely! If you have any questions or just need a few hints about the project or the build environment in general, please let me know as well - I'll do my best to answer any questions or address feedback as quickly as possible.

[2020-01-22 04:35] annesuzuki commented on #52
I'm sorry that there hasn't been progress on this project; I'm quite busy and inexperienced, but I'm hoping that won't be causing too much trouble. After following the instructions in Install.md, there were 2 errors that came up after `make all`. The documentation lists that perl is needed for some scripts, and considering that a new test has to be written, do I need perl? Currently, I'm running t

[2020-01-22 11:16] goatshriek commented on #52
No worries at all, I intended this issue as good places for folks to get their feet wet, so ask as many questions as you need to. You'll probably find some places where the documentation is lacking and needs an update.

The Perl dependency is being replaced with Ruby in version 1.5.0 - they are needed for a header inclusion checking tool (tools/check_headers) that I don't think you will need here.

[2020-01-23 01:54] goatshriek opened #60 "build fails in cygwin"
## Short description of Problem
Attempting to build stumpless in a cygwin environment with the required packages fails.

## Environment Description
This has been tested in a Windows 10 build 10240 with cygwin64 3.1.2.

## Other details
Current problems with this build appear to come primarily from conflicting type definitions between standard Unix headers (sys/socket.h, unistd.h) and the Windows h

[2020-01-23 01:56] goatshriek commented on #60
This was noted during work on #52 by @annesuzuki

[2020-01-23 02:07] goatshriek commented on #60
A workaround to get (most) functionality working in cygwin is to add the following hardcoding of the header checks to `CMakeLists.txt` to avoid header conflicts directly after the `check_include_files` calls:

    if(HAVE_SYS_SOCKET_H AND HAVE_WINSOCK2_H)
      set(HAVE_WINSOCK2_H FALSE)
      set(HAVE_WINDOWS_H FALSE)
    endif(HAVE_SYS_SOCKET_H AND HAVE_WINSOCK2_H)

This will force the build env

[2020-01-23 02:21] goatshriek commented on #52
I was able to recreate what I'm assuming are the same issue you encountered and have opened #60  to support cygwin builds. I posted a workaround there that should get you up and running. The failed network tests I referenced there are caused by my ISP faking responses to domains that don't exist - not an error in the library itself.

If those updates seem a bit overwhelming, you may have an easier

[2020-01-23 04:58] annesuzuki commented on #60
![Screenshot1](https://user-images.githubusercontent.com/19434179/72957821-da2d3180-3d59-11ea-8b35-5d1c44068749.png)
![Screenshot2](https://user-images.githubusercontent.com/19434179/72957822-da2d3180-3d59-11ea-9d1c-70893e926dce.png)

[2020-01-23 04:58] annesuzuki commented on #60
These are the screenshots of the errors I'm getting. Everything up until make all is ok.

[2020-01-23 12:14] goatshriek commented on #60
Hmm, for some reason it appears your system doesn't have `unistd.h` available. Could you post the output of your `cmake` command in a fresh build directory? I used gcc in my cygwin build, but perhaps you are using mingw or something else that behaves differently.

I will make sure that the cygwin branch can builid in this situation as well.

[2020-01-24 01:44] goatshriek commented on #60
I've created a branch named `portability` to handle the scenario in the screenshots above - please give it a try next time and see if it resolves the issues in the above screenshots. I've also added a [Travis CI test](https://travis-ci.org/goatshriek/stumpless/jobs/641169751) which failed with the same symptoms as above which [now works](https://travis-ci.org/goatshriek/stumpless/builds/641170817)

[2020-01-27 08:31] annesuzuki commented on #60
[std_out.txt](https://github.com/goatshriek/stumpless/files/4116127/std_out.txt)
[std_error.txt](https://github.com/goatshriek/stumpless/files/4116128/std_error.txt)
Output and standard error for the cmake, make all and make test commands.

[2020-01-28 02:54] goatshriek commented on #60
I've made some updates that get the `portability` branch building and running the tests, although there are still some warnings in the Windows Event Log module compilation and failing tests for socket and WEL targets. Give it a shot and see if you get some better results.

Any suggestions on how to add CI testing to prevent regressions of Cygwin support are welcome. From a quick glance the best op

[2020-01-30 02:42] goatshriek commented on #60
Builds on my cygwin installation now complete without any errors, including the tests (via `make check`). Please confirm if your issues are resolved as well, or post any other problems you encounter here. I'll continue cleaning up the documentation and fine-tuning some configurations in the meantime.

[2020-02-21 23:41] goatshriek commented on #60
I've created pull request #61 to merge in the support for cygwin (and mingw along the way). I'll go ahead and merge it in a week (on 1 March) unless there are any other issues noted here.

[2020-05-20 01:44] goatshriek commented on #60
This has been merged into master in release 1.5.0. Please report any further issues with Cygwin support in a new issue.

[2020-05-20 01:44] #60 closed

[2020-07-15 20:28] goatshriek opened #77 "implement PID option"
Stumpless currently does not support the `STUMPLESS_OPTION_PID` option despite providing it in its header files. This could easily be implemented by checking the target's setting for this option during formatting, and using `NILVALUE` (a dash character) if this option is not set.

This option should be off by default, being enabled by `stumpless_set_option` on a target. This is a change in current

[2020-07-15 22:23] goatshriek opened #78 "implement CONS option"
Stumpless currently does not support the `STUMPLESS_OPTION_CONS` option despite providing it in its header files. This option is meant to mirror the `LOG_CONS` option from `syslog.h` in functionality, which causes messages to be written to the system console if there is a problem sending them to the target.

Check out the [Contributing Guidelines](https://github.com/goatshriek/stumpless/blob/lates

[2020-07-15 22:28] goatshriek opened #79 "implement NDELAY option"
Stumpless currently does not support the STUMPLESS_OPTION_NDELAY option despite providing it in its header files. This option is meant to mirror the LOG_NDELAY option in functionality. The meaning may change across target types though - this will need to be thought through, defined, and documented for each of the target types.

Don't forget to document the option after you implement it in `include

[2020-07-15 22:37] goatshriek opened #80 "implement ODELAY option"
Stumpless currently does not support the STUMPLESS_OPTION_ODELAY option despite providing it in its header files. This option is meant to mirror the LOG_ODELAY option in functionality. The meaning will change depending on the target - each target will need to be evaluated to make sure that it conforms to this default setting.

Don't forget to document the option after you implement it in `include/

[2020-07-15 23:52] #54 closed

[2020-07-15 23:58] goatshriek opened #81 "implement PERROR option"
Stumpless currently does not currently have any equivalent of the LOG_PERROR option provided by traditional syslog implementations. This should be implemented as another option, and made compatible with LOG_PERROR on systems that have it.

The meaning of the option is simple (it is described briefly in the [syslog manpage](https://man7.org/linux/man-pages/man3/syslog.3.html)). Targets with this op

[2020-07-16 00:00] goatshriek opened #82 "implement NOWAIT option"
Stumpless currently does not support the STUMPLESS_OPTION_NOWAIT option despite providing it in its header files. This option is meant to mirror the LOG_NOWAIT option in functionality, and should be straightforward to implement as stumpless does not currently spawn any child processes during logging. If no work is actually required to implement, then this will simply amount to a documentation exer

[2020-07-16 13:04] goatshriek opened #83 "add systemd journal target"
Logging to the systemd journal is an important feature, and needs to be added as a target type. The C API for this is held in the `systemd/sd-journal.h`, a prerequisite for this target to be supported.

sd-journal does support a form of structured logging, and so logging of entries with structured data should utilize this to the extent possible. The implementation will need a clearly defined and d

[2020-07-16 17:04] goatshriek commented on #52
Due to the imminent release of version 1.6.0, I've started a branch to resolve this issue so that the next minor release does not have any known bugs. I apologize for scooping this out from under you, @annesuzuki. If you want to see what the code ends up looking like, you can take a look at the `issue-52` branch.

If you are still interested in contributing to this project, I've added a number of

[2020-07-17 12:29] #52 closed

[2020-07-25 08:59] aparavind opened #91 "While Building the stumpless facing issues in centos 7"
**Describe the bug**
the command
`make bench`
fails

**To Reproduce**
Try installaing in Centos 7 with Gnu c++ compiler.

**Expected behavior**
Installation (and bench) fails with following
[code]

**Build Environment**
Describe your build environment and any other factors that contribute to the configuration of Stumpless. This should include:
 * CentOS Linux release 7.6.1810 (Core)
 * cmake versi

[2020-07-25 12:53] goatshriek commented on #91
Thanks very much for reporting this, especially with environment details! I was able to build a local CentOS machine and replicate the problem.

If possible I'd like to avoid setting a requirement on stumpless itself for C++11, as the library should build fine without it. It's just our testing and dev tools that have the C++11 requirement.

Can you try the following change to `tools/cmake/test.cma

[2020-07-25 17:22] aparavind commented on #91
Thanks for the immediate reply.

- Your suggestion is working as suggested and I have made those changes.
-  Based on your suggestion .. I revisited the make install and it seems to be working fine..
   -  My Error here . so the error applies only to make bench. (the make check error doesn't apply here as they are different)
-  I Have submitted the changes in the same patch. so please do have the

[2020-07-25 18:26] #91 closed, assigned to nobody

[2020-07-27 10:43] pedestrianlove commented on #53
Hi there, I'm planning on doing this one, could you please assign this to me?

Great thanks!

[2020-07-27 11:14] goatshriek commented on #53
No problem - let me know if you run into any stumbling blocks or need clarification on anything.

[2020-07-27 14:34] pedestrianlove commented on #53
@goatshriek Sorry, I don't know where to put the retrieved string from the enum stumpless_error_id.
Should I put it in the code_type in struct stumpless_error or just print it out independently in stumpless_perror function?

Thanks for your clarification!

[2020-07-27 15:42] goatshriek commented on #53
Here's a little more detail on the way to solve this that I like the most - it certainly isn't the only way, but I think it is the simplest and best solution here.

I would start by defining a new function `stumpless_get_error_id_string` (or something else that gets the point across) in `src/error.c` (and declaring it in `include/stumpless/error.h`) that takes in an `enum stumpless_error_id` and r

[2020-07-27 23:56] goatshriek opened #98 "comparison function for versions"
While the library provides a way to get the current version as a string or a custom struct, it does not provide an easy way to compare versions using semantic versioning principles. This functionality would be convenient for any users wishing to put a version guard in their code, for example to throw warnings if a major version number is incremented unintentionally. This would be a C-like version

[2020-07-31 15:03] #53 closed

[2020-08-04 00:03] #98 closed, assigned to nobody

[2020-08-08 13:40] goatshriek opened #103 "add support for colored terminal output"
A convenient feature in any logging library is colored output when logging to a console so that messages of different severity levels stand out from one another. This could be implemented in stumpless as a new set of attributes for stream loggers, which is off by default but is set when getting the stdout our stderr targets using `stumpless_open_stdout_target` or `stumpless_open_stderr_target` (re

[2020-08-12 07:16] pedestrianlove commented on #103
@goatshriek I'm planning on doing this one, could you please assign this to me?

[2020-08-30 00:26] TylerStanish commented on #77
Hi, I think I can try doing this

[2020-08-30 00:49] goatshriek commented on #77
Hi Tyler, sounds good! I've assigned the issue to you so that it is marked - please reach out if you need any help/guidance or if you run into something that's broken. Others working on first issues have definitely noticed opportunities to improve the documentation, so if you feel something can be made clearer please let me know!

[2020-08-30 20:29] #77 closed, assigned to TylerStanish

[2020-09-01 00:50] goatshriek opened #111 "allow runtime specification of console output"
Stumpless will eventually be capable of writing some output to the console, for example once the CONS option is implemented (see #78). However, there is currently not a way to set the stream used for this, as there is for error streams for example. This could create difficulties for some use cases of the library, and at a minimum will make testing more difficult. This could be fixed by implementin

[2020-09-02 23:49] goatshriek opened #113 "length checking of the msgid"
The syslog RFC ([RFC 5424](https://tools.ietf.org/html/rfc5424)) specifies a given length for many fields of a log message, including the msgid. Checking the length of supplied msgid arguments will not only help users stay compliant with the standard, but will also allow for efficiencies in the implementation by eventually allowing for the use of fixed-length buffers instead of memory allocated on

[2020-09-03 00:56] goatshriek opened #114 "format checking of msgid"
The syslog RFC ([RFC 5424](https://tools.ietf.org/html/rfc5424)) specifies that a number of fields only include printable ASCII characters (decimal values 33 to 126 inclusive), including the msgid. Checking the characters of supplied msgid arguments will not only help users stay compliant with the standard and provide one point of mitigation for encoding bugs/vulnerabilities.

Check out the [Contr

[2020-09-12 21:30] goatshriek opened #116 "implement french (fr-FR) localization"
Localization has been added to the library, and fr-FR was added with stub values to support testing. However, these messages are not useful and need to be replace with actual French to be of any use.

This will be straightforward for someone that speaks the language, even if you have very little knowledge of C. You will simply need to update the strings in `include/private/config/locale/fr-fr.h` w

[2020-09-12 23:32] goatshriek opened #117 "add a new (spoken) language"
If you know a language other than English and you're looking for a way to contribute to a project without knowing much about coding, adding a new locale is a great place to start.

There is a detailed guide on how to go about adding a new language that you know in the [localization documentation](https://github.com/goatshriek/stumpless/blob/latest/docs/localization.md). If you're feeling up to it,

[2020-09-18 00:06] #116 closed, assigned to nobody

[2020-09-20 12:17] goatshriek opened #120 "implement spanish (es-ES) localization"
Localization has been added to the library, and Spanish (es-ES) has since been added with stub values. However, these messages are not useful and need to be replaced with actual Spanish to be of any use.

This will be straightforward for someone that speaks the language, even if you have very little knowledge of C. You will simply need to update the strings in `include/private/config/locale/es-es.

[2020-09-26 11:03] Lockna commented on #117
I would like to add a German translation ^^

[2020-09-26 13:04] goatshriek opened #121 "implement german (de-DE) localization"
There is a detailed guide on how to go about adding a new language in the [localization documentation](https://github.com/goatshriek/stumpless/blob/latest/docs/localization.md).

If you'd like a concrete example of such a change, check out the recent commit c944d31b33934aa9a55c4858441affff8a9db813, which shows how to update the various build and header files outlined in the documentation.

[2020-09-26 13:07] goatshriek commented on #117
@Lockna sounds good! I have created #121 for the specific locale. I also added a reference to a recent commit that has examples of a similar update recently, if you want a clean example to complete the documentation. Any suggestions on improvements to the documentation/process are also welcome!

[2020-10-01 19:31] #121 closed, assigned to nobody

[2020-10-07 10:09] IgorSivy commented on #114
Hello there, could I try to solve this issue?

[2020-10-07 10:37] goatshriek commented on #114
Absolutely! I will go ahead and assign it to you. Please feel free to reach out here or on gitter if you have any issues or questions.

One further note - the approach above was outlined before `include/private/validate.h` existed, which is arguably a better place for the validation routine to reside. This would mean creating a new source file `src/validate.c` as well as updating the CMake build s

[2020-10-09 03:19] LambdaApproach commented on #113
Hi there, I'd like to take a crack at this if nobody else is currently working on it.

[2020-10-09 09:47] goatshriek commented on #113
Sounds good! I will go ahead and assign it to you. Feel free to reach out if you need any clarification or have any other questions.

[2020-10-10 02:03] LambdaApproach commented on #113
Looks like I need to create a new error message and error message code type for this since I can't find any of them that really fit the description of this particular kind of error.

Closest I could find is "L10N_MESSAGE_SIZE_ERROR_CODE_TYPE" but that's an error code for the overall size of the message and I can't find an accompanying error message for it.

What do you think?

Edit: To clarify, wh

[2020-10-10 12:40] goatshriek commented on #113
That is a good point - it would be best to create a new message and code type as you suggest so that the error is clear to the user. Perhaps something along the lines of STRING_TOO_LONG with the error code being the length of the offending string? It should be re-usable for length checks of other fields in the future.

You may have already found [this document](https://github.com/goatshriek/stumpl

[2020-10-13 01:54] #113 closed, assigned to LambdaApproach

[2020-10-20 09:44] #114 closed, assigned to IgorSivy

[2020-10-21 00:05] goatshriek opened #128 "implement param to string method"
It is often useful to be able to obtain out a string representation of a given value either for user interface hints, troubleshooting, or operations like value comparison. Such a function is currently implemented for some stumpless data types (like the version struct) but not for others, including the param struct.

Note that this function is _not_ intended for use in the formatting of a log messa

[2020-10-21 23:50] goatshriek opened #129 "length checking of the app-name"
The syslog RFC ([RFC 5424](https://tools.ietf.org/html/rfc5424)) specifies a maximum length for many fields of a log message, including the app-name field. Checking the length of supplied app-name arguments will not only help users stay compliant with the standard, but will also allow for efficiencies in the implementation by eventually allowing for the use of fixed-length buffers instead of memor

[2020-10-22 00:18] goatshriek opened #130 "format checking of app-name"
The syslog RFC ([RFC 5424](https://tools.ietf.org/html/rfc5424)) specifies that a number of fields only include printable ASCII characters (decimal values 33 to 126 inclusive), including the app-name. Checking the characters of supplied app-name arguments will not only help users stay compliant with the standard, but will also provide a point of mitigation for encoding bugs and vulnerabilities.

C

[2020-11-06 08:53] hoomaac commented on #128
sounds interesting! I'm working on it.

[2020-11-06 10:08] goatshriek commented on #128
Great! I've assigned the issue to you to mark it as taken.

[2020-11-14 00:33] #128 closed, assigned to hoomaac

[2020-11-14 11:47] hoomaac commented on #129
I'm on it.

[2020-11-19 09:28] pepo939393 commented on #117
I would like to add Slovak translation

[2020-11-19 10:34] goatshriek opened #137 "implement slovak (sk-SK) localization"
There is a detailed guide on how to go about adding a new language in the [localization documentation](https://github.com/goatshriek/stumpless/blob/latest/docs/localization.md).

If you'd like a concrete example of such a change, check out the recent commit 2034f5323e0425310759e687982f450e55c0efed, which shows how to update the various build and header files outlined in the documentation.

[2020-11-19 10:36] goatshriek commented on #117
@pepo939393 Awesome! I just created #137 for you, it has a reference to the most recent locale addition as an example.

[2020-11-25 21:49] #129 closed, assigned to hoomaac

[2020-11-28 14:51] #137 closed, assigned to nobody

[2020-12-08 00:07] goatshriek opened #146 "implement element to string function"
It is often useful to be able to obtain a string representation of a given value either for user interface hints, troubleshooting, or operations like value comparison. Such a function is currently implemented for some stumpless data types (like the version struct) but not for others, including the element struct.

Note that this function is _not_ intended for use in the formatting of a log message

[2020-12-08 01:36] goatshriek opened #147 "length checking of param names"
The syslog RFC ([RFC 5424](https://tools.ietf.org/html/rfc5424)) specifies a maximum length for many fields of a log message, including param names. Checking the length of supplied param name arguments will not only help users stay compliant with the standard, but will also allow for efficiencies in the implementation by eventually allowing for the use of fixed-length buffers instead of memory all

[2020-12-28 00:39] goatshriek opened #156 "check italian (it-IT) localization"
Localization for Italian was added in #155 by the library's main author (@goatshriek). However, the author's command of the Italian language is not very strong, and as such the translations should be checked for accuracy and general correctness.

This is a straightforward review - simply look at `include/private/config/locale/it-it.h` and submit a pull request with updates and corrections.

[2021-01-19 02:21] goatshriek opened #162 "check target type in close functions"
There is a specific function for closing each type of target, but it does not check the type of the target before closing. If passed the wrong type of target, this could lead to memory corruption and/or crashing.

While this would be a user error, a check for the target type would reduce the chance of this becoming a problem. A future build option to remove error checks if needed would allow the p

[2021-01-20 03:14] ShobhitSamuelSingh commented on #162
Hi, I would like to work on this issue.

[2021-01-20 11:20] goatshriek commented on #162
Sounds good! I have assigned you so that it's clear to folks that someone is working on this.

[2021-01-21 15:42] ShobhitSamuelSingh commented on #162
Thank you for assigning me the issue. Please check if the changes made are correct and I couldn't add test cases because I didn't know how to, please help me with that too.

[2021-01-22 21:28] goatshriek commented on #162
Sure thing, I provided comments and more information in #163 for you to take a look at.

[2021-03-06 19:18] giannalammer commented on #147
Hello. I would like to help work on this issue. I have a strong knowledge of programming in c.

[2021-03-06 20:15] goatshriek commented on #147
Hello Gianna, thanks for reaching out! I will assign this to you so that others can see you are working it. Please feel free to reach out with any questions!

[2021-03-25 01:03] #156 closed, assigned to nobody

[2021-03-30 09:46] goatshriek commented on #162
This issue is re-open for anyone that would like to work on it. The pull request referenced above has initial work done by @ShobhitSamuelSingh which is a good starting point if you would prefer not to start from scratch.

[2021-04-13 22:41] CuckooEXE commented on #130
Gave it my best shot with https://github.com/goatshriek/stumpless/pull/172. Take a look and let me know what you think, and if it needs any changes. Thanks!

[2021-04-14 00:15] goatshriek commented on #130
Thanks so much for putting this together! I've left a review with some requested changes, but you're definitely on the right track!

[2021-04-14 09:40] #130 closed, assigned to CuckooEXE

[2021-04-15 00:07] #162 closed, assigned to nobody

[2021-04-15 05:43] taliezincho commented on #117
I'll try to add Bulgarian :)

best regards

[2021-04-15 20:35] goatshriek opened #174 "implement bulgarian (bg-BG) localization"
There is a detailed guide on how to go about adding a new language in the [localization documentation](https://github.com/goatshriek/stumpless/blob/latest/docs/localization.md).

If you'd like a concrete example of such a change, check out commit c944d31b33934aa9a55c4858441affff8a9db813, which shows how to update the various build and header files outlined in the documentation.

[2021-04-15 20:36] goatshriek commented on #117
Sounds good! I created #174 for you with some references and an example commit.

[2021-04-17 14:38] #174 closed, assigned to nobody

[2021-05-01 14:40] goatshriek opened #177 "format checking of param names"
The syslog RFC ([RFC 5424](https://tools.ietf.org/html/rfc5424)) specifies that a number of fields only include printable ASCII characters (decimal values 33 to 126 inclusive), including structured data identifiers such as param names. In addition to being limited to printable ASCII, identifiers have even more restricted characters that are not allowed. Checking the characters of supplied identifi

[2021-05-12 15:14] goatshriek commented on #83
In progress on the `journald` branch.

[2021-05-24 20:32] northernSage commented on #146
Awesome documentation! I'll chip in and tackle this one as time allows 👍🏻

[2021-05-24 23:45] goatshriek commented on #146
Great! I'll go ahead and reserve it as yours.

[2021-06-06 02:22] #146 closed, assigned to northernSage

[2021-06-06 02:28] northernSage commented on #177
I'll give this one a go 👍🏻

[2021-06-07 00:50] goatshriek commented on #177
Awesome!

[2021-06-08 20:49] northernSage opened #183 "Refactoring common portions of stumpless_param_to_string and stumpless_element_to_string"
This is just a follow up issue to improve on #180.

Quoting from #146:

Since #180 did not implement the changes described above I'll go ahead and work on a separate PR for this. I have opened the issue only to document my intent in doing so and to have somewhere to discuss related changes if the need arises.

[2021-07-03 01:46] ulisesten commented on #120
Does this need help yet?

[2021-07-03 02:51] goatshriek commented on #120
It is all yours if you would like to work it!

[2021-07-03 02:57] ulisesten commented on #120
ok, let's do it

[2021-07-04 00:38] #177 closed, assigned to northernSage

[2021-07-04 02:55] northernSage commented on #103
This one seems fun, I'll give it a go :bowtie:

[2021-07-06 00:02] #120 closed, assigned to ulisesten

[2021-08-16 01:21] goatshriek commented on #83
Closed in #186.

[2021-08-16 01:21] #83 closed, assigned to goatshriek

[2021-09-01 01:03] goatshriek opened #187 "implement format checking of element names"
The syslog RFC ([RFC 5424](https://tools.ietf.org/html/rfc5424)) specifies that a number of fields only include printable ASCII characters (decimal values 33 to 126 inclusive), including structured data identifiers such as element names. In addition to being limited to printable ASCII, identifiers have other restricted characters that are also not allowed. Checking the characters of identifiers wi

[2021-10-05 09:36] anindyasen commented on #187
I am participating in hacktoberfest. Can I  try to fix this issue as a part of that.
Also one query on the issue, for element verification, will the restrictions be same as param validation done in function validate_param_name?

Thank you

[2021-10-05 09:38] goatshriek commented on #187
Sure thing! I will assign it to you so others can quickly see it is in work.

[2021-10-05 09:41] anindyasen commented on #187
Also one query on the issue, for element verification, will the restrictions be same as param validation done in function validate_param_name?

[2021-10-05 09:59] goatshriek commented on #187
Yes, the validation performed is the same. You can either duplicate the function or rename it for re-use, up to you!

[2021-10-05 10:42] goatshriek commented on #147
@giannalammer just checking in to see if you are still planning to work this? No worries if not, I just want to open it up for others if that's the case.

[2021-10-05 12:37] anindyasen commented on #187
Thanks @goatshriek for the info. Few more queries,
1. How test function are working? How to write the test I understood, but how to run the test functions to check my code change?
2. Also can same test function be used to validate both param and element name. For eg,
 TEST_F( ElementTest, GetParamInvalidName ) we can also pass different element name to test. Is that allowed or I need to create a n

[2021-10-05 13:05] anindyasen commented on #147
Planning to work on this one once done with issue 187.

[2021-10-05 20:33] goatshriek commented on #187
The easiest way to run the test suite is to use the `check` target, which will build and run all tests. So for example if you are in a make environment, `make check`. I need to add better docs on the unit test suite, I will try to do that in the next 7 days or so.

It would be best to create a new test function (that is, a new `TEST_F` call) so that tests are independent. This makes for faster tro

[2021-10-06 01:36] goatshriek commented on #187
I've started a draft of some more detailed test documentation in the `test-docs` branch - have a look at the [test.md](https://github.com/goatshriek/stumpless/blob/test-docs/docs/test.md) doc there to see if it answers your questions. Any feedback is welcome!

[2021-10-07 19:15] anindyasen commented on #187
The test document looks good.

[2021-10-08 10:47] anindyasen commented on #147
What will be the max param length?

[2021-10-08 11:04] anindyasen commented on #147
FIx for this issue is not required?

[2021-10-08 11:04] goatshriek commented on #147
@anindyasen [Project policy](https://github.com/goatshriek/stumpless/blob/latest/docs/CONTRIBUTING.md#you-still-there) gives stale issue assignees a month to respond to a request for an update, and we will honor that policy here.

However, I do understand that waiting that long would put you outside of the hacktoberfest timeline. Give me a bit and I will open a new issue for the length checking of

[2021-10-08 11:08] anindyasen commented on #147
So in that new issue should I fix for both param and element or only element?

[2021-10-08 11:13] goatshriek opened #189 "length checking of element names"
The syslog RFC ([RFC 5424](https://tools.ietf.org/html/rfc5424)) specifies a maximum length for many fields of a log message, including element names. Checking the length of supplied element name arguments will not only help users stay compliant with the standard, but will also allow for efficiencies in the implementation by eventually allowing for the use of fixed-length buffers instead of memory

[2021-10-08 11:15] goatshriek commented on #147
I've created #189 to cover this - if you drop a comment on it I can assign it to you. It's only for element names: max length of 32 characters.

@giannalammer will have a month to respond to the request for an update before this param name length checking issue is released for others to work.

[2021-10-08 11:17] anindyasen commented on #189
Will start working on this one. Max length is 32.

[2021-10-08 11:46] #187 closed, assigned to anindyasen

[2021-10-08 12:56] anindyasen commented on #189
```stumpless_add_new_element``` and ```stumpless_add_new_param_to_entry``` is calling stumpless_new_element  where check is there. Is it still needed in this functions?

[2021-10-08 13:49] goatshriek commented on #189
As long as the tests still show these returning an accurate error message, you can probably rely on the check of the lower function if you would like.

However, note that this is less performant in multithreaded code as that check won't happen until after a lock is acquired. Checking the name and returning an error before locking would be faster (and less prone to thread safety mistakes).

[2021-10-08 14:39] palike608 commented on #117
Hi,  i would like to add a Czech translation. Can i?

[2021-10-08 14:53] goatshriek commented on #117
Absolutely! I will create an issue for it in the next 4 hours or so.

[2021-10-08 16:08] goatshriek opened #190 "implement czech (cs-CZ) localization"
There is a detailed guide on how to go about adding a new language in the [localization documentation](https://github.com/goatshriek/stumpless/blob/latest/docs/localization.md).

If you'd like a concrete example of such a change, check out commit c944d31b33934aa9a55c4858441affff8a9db813, which shows how to update the various build and header files outlined in the documentation.

[2021-10-08 16:09] goatshriek commented on #117
I've created #190 to track the Czech translation.

[2021-10-08 16:21] palike608 commented on #190
Can you please assign me to issue. Thank you. :)

[2021-10-10 11:15] #189 closed, assigned to anindyasen

[2021-10-10 18:10] goatshriek opened #193 "refactor tests for invalid format items"
Tests for names and other elements with formatting errors use much of the same code, and could be made more compact by refactoring the common code into helper test functions. Some documentation on creating and using test helpers can be found in [test/README.md](https://github.com/goatshriek/stumpless/blob/latest/test/README.md) and [docs/test.md](https://github.com/goatshriek/stumpless/blob/latest

[2021-10-25 01:09] gcotofernandez commented on #117
Hi! I would like to add a Spanish translation

[2021-10-25 01:26] goatshriek commented on #117
Hi Gabriela! Thanks so much for reaching out! A spanish translation does exist already, but there are a few strings that have been added since then that need attention: check out `include/private/config/locale/es-es.h` to see what's there. I suspect you could make quick work of it!

If you are looking for something more substantial there will be an internationalization framework for the documentat

[2021-10-26 20:24] #190 closed, assigned to palike608

[2021-10-27 18:29] Marecek460 commented on #193
Hello. I would like to help work on this issue.

[2021-10-27 20:29] goatshriek commented on #193
Absolutely! I have assigned the issue to you to mark it as in work. This issue is admittedly a little vague, so please reach out if you have any questions or need clarification.

[2021-10-28 18:49] Marecek460 commented on #117
I would like to add Polish translation?

[2021-10-28 19:48] goatshriek opened #199 "implement polish (pl-PL) localization"
There is a detailed guide on how to go about adding a new language in the [localization documentation](https://github.com/goatshriek/stumpless/blob/latest/docs/localization.md).

If you'd like a concrete example of such a change, check out commit c944d31b33934aa9a55c4858441affff8a9db813, which shows how to update the various build and header files outlined in the documentation.

[2021-10-28 19:49] goatshriek commented on #117
Absolutely! I've created #199 to track this.

[2021-10-29 19:11] Marecek460 commented on #199
Can you please assign me to issue. Thank you.

[2021-11-17 22:16] goatshriek commented on #147
This issue is now re-open for anyone that would like to try it.

[2021-12-14 17:17] Jk-bit commented on #82
I would like to work on this issue, I am new to open source contribution but I have strong knowledge in C programming language. Currently I am browsing the code of the same, and trying to understand the code. I would like your thoughts on the same, so that I can quickly start to work on the issue.

[2021-12-14 19:31] goatshriek commented on #82
Absolutely! I will assign the issue to you while you work on it.

The main starting point will be the `stumpless_add_entry` function in the `src/target.c` file, which is responsible for calling all of the logging functions. I recommend you use an IDE or ctags so that you can jump to the definitions of the functions it calls to log each type of message.

Once you've confirmed to your satisfaction t

[2021-12-15 06:20] Jk-bit commented on #82
I have checked the source code and have understood that there are no child processes created, thus there is minimal implementation for this issue only if there is an idea of having child processes in future.This can be done by checking the option and if the NOWAIT option is set then we should not wait otherwise we need to wait.
If there is no any plan to have child processes then only documentatio

[2021-12-15 10:30] goatshriek commented on #82
There is no plan to create any child processes during logging calls, as this would be too slow. You can proceed under the assumption that this will always be the case.

[2021-12-15 10:35] Jk-bit commented on #82
So in that case there is no need for implementing NOWAIT, it's just an documentation part that's need to be done on line 61 of include/stumpless/option.h

[2021-12-15 10:38] goatshriek commented on #82
Correct, you'll just need to describe what the option means and that it is essentially always on.

[2021-12-15 11:19] Jk-bit commented on #81
I would like to work on this issue

[2021-12-15 13:56] Jk-bit commented on #82
#201 pull request for documentation of NOWAIT

[2021-12-15 23:50] #82 closed, assigned to Jk-bit

[2021-12-15 23:57] goatshriek commented on #81
Sounds good! I think you'll find this one more exciting than your last change.

[2021-12-16 16:31] Jk-bit commented on #81
I have read the necessary material required, I have planned a rough idea to proceed on
   -> The message to be logged is returned by the function `strbuilder_get_buffer` defined in `src/strbuilder.c` on line 169. So before calling any `sendto_*` function we need to check the option PERROR if it set or not. If yes then we print the message on the stderr as well.
   -> I am planning to use `fprintf(

[2021-12-16 21:34] goatshriek commented on #81
Yes, I believe you will be successful with that approach! Here are a few points for you to consider as you implement it:
* The message to be logged is indeed returned on line 133 of `src/target.c` from `strbuilder_get_buffer`, and would be the right thing to log to the error stream. However, some target types are logged before reaching that call and the buffer will not have been created for them.

[2021-12-17 10:27] Jk-bit commented on #81
I have implemented the perror option and define a function which writes into the error_stream returned by `stumpless_get_error_stream`.
I wanted to know how to test the function implemented by me.

[2021-12-17 10:41] goatshriek commented on #81
If you're feeling a little lost on the tests in general, `docs/test.md` is a good place to start. If there's information that you feel that doesn't cover adequately, please let me know and I'll see what I can do to fix it.

For this specific test, start by copying the function starting [here](https://github.com/goatshriek/stumpless/blob/latest/test/function/target.cpp#L705) in the same file, and a

[2021-12-17 17:10] Jk-bit commented on #81
Pull Request #202, Please check

[2021-12-18 14:18] goatshriek opened #203 "target locking operations cause undefined behavior in unsupported target types"
The multithreading locks in the [target structure](https://github.com/goatshriek/stumpless/blob/5175e38ecb130e782afb0d54271c46e567b475c7/include/stumpless/target.h#L108) cause problems for stack-allocated target structures. This needs to be changed so that this space is accounted for in applications that wish to support stack-allocated target operations.

This was raised as a more serious issue in

[2021-12-19 05:15] #203 closed, assigned to goatshriek

[2021-12-19 15:06] #81 closed, assigned to Jk-bit

[2021-12-20 05:16] Jk-bit commented on #111
I would like to work on this and then continue with the CONS options

[2021-12-20 10:26] goatshriek commented on #111
Sounds good!

[2021-12-21 22:13] #111 closed, assigned to Jk-bit

[2021-12-21 22:26] goatshriek opened #207 "unsafe multithreaded writes in PERROR option"
As noted by @Jk-bit in the [community Gitter](https://gitter.im/stumpless/community), the output generated by the `STUMPLESS_OPTION_PERROR` option on targets writes to the error stream without any sort of multithreading protection, which could potentionally lead to issues. These writes should be protected by the `error_stream_free` mutex in `src/error.c` that is used for `stumpless_perror` already

[2021-12-22 04:36] Jk-bit commented on #207
Pull request #208

[2021-12-30 23:16] goatshriek opened #211 "string conversion function for severity levels"
It is often useful to be able to obtain a string representation of a given value either for user interface hints, troubleshooting, or operations like value comparison. Such a function is currently implemented for some stumpless data types (like the error id enumeration) but not for others, including the severity enumeration.

Check out the [Contributing Guidelines](https://github.com/goatshriek/st

[2021-12-30 23:44] goatshriek commented on #103
@northernSage Absolutely no pressure, but just want to check in to see if you're still planning to work this? No worries if not, I will return it to the pool of issues available for newcomers to try out.

[2021-12-30 23:46] goatshriek commented on #199
Hello @Marecek460, no pressure, but I just want to check in to see if you're still planning to work this? No worries if not, I can unassign you so that anyone else that comes along knows that this is free to work on.

[2021-12-31 23:30] northernSage commented on #103
Hey @goatshriek, thanks for the ping. Things have been a bit unruly lately, so I have slowed down all open source activity (not only stumpless). I fully intend to finish this PR and keep contributing, though 👍🏻

[2022-01-01 01:01] goatshriek commented on #103
No worries, completely understand! Good luck getting things back in line!

[2022-01-03 11:54] igorkole commented on #147
Hi @goatshriek, I'd like to contribute to this issue.

[2022-01-03 12:00] goatshriek commented on #147
Sounds good! I will assign it to you so others know it is in work.

[2022-01-03 20:56] #211 closed, assigned to nobody

[2022-01-03 21:29] #147 closed, assigned to igorkole

[2022-01-05 01:08] goatshriek opened #215 "move network config wrappers to separate header"
Stumpless uses a scheme involving `#define`names and macro functions to separate its portability measures from the application logic itself. This was originally done via a single header, `include/private/config/wrapper.h`, but as the library grows this single header has become bloated. Now features are instead contained in their own dedicated wrapper headers. Older features need to be moved to the

[2022-01-07 19:55] goatshriek opened #216 "string conversion function for facility levels"
It is often useful to be able to obtain a string representation of a given value for user interface hints, troubleshooting, or operations like value comparison. Such a function is currently implemented for some stumpless data types (like the severity enumeration) but not for others, including the facility enumeration.

Check out the [Contributing Guidelines](https://github.com/goatshriek/stumpless

[2022-01-12 02:40] goatshriek commented on #199
in work via #217

[2022-01-12 21:22] #199 closed, assigned to Marecek460

[2022-03-21 11:15] goatshriek opened #223 "automatic time quality element"
[RFC 5424](https://datatracker.ietf.org/doc/html/rfc5424#section-7.1) specifies that a `timeQuality` structured data element should be included to give level of confidence information around the timestamp field. Stumpless should have the ability to generate this element automatically, as well as the capability to include it automatically when logging to given targets such as network ones.

[2022-03-21 11:18] goatshriek opened #224 "automatic meta element"
[RFC 5424](https://datatracker.ietf.org/doc/html/rfc5424#section-7.3) specifies that a `meta` structured data element should be included to give some level of information about the log message itself. Stumpless should have the ability to generate this element automatically, as well as the capability to include it automatically when logging to given targets.

[2022-03-21 11:19] goatshriek opened #225 "automatic origin element"
[RFC 5424](https://datatracker.ietf.org/doc/html/rfc5424#section-7.2) specifies that a `origin` structured data element may be included to give some level of information about the originator of the log message. Stumpless should have the ability to generate this element automatically, as well as the capability to include it automatically when logging to given targets.

[2022-04-06 08:48] ivandev-81 commented on #216
hello , Is this issue still open?
I want collaborate

[2022-04-06 09:19] goatshriek commented on #216
Absolutely! I will assign it to you so that it is clear you are working on it.

[2022-04-06 09:28] ivandev-81 commented on #216
sure, I'll work on that

[2022-04-12 18:40] ivandev-81 commented on #216
Hello people, I'm so sorry, I was checking carefully the project and the tasks, and due to my school/work issues I can't work on the issue and I don't feel identified with the project, I'm focused on another kind  of technology right now.

[2022-04-12 20:19] goatshriek commented on #216
No worries at all, thanks for checking in with a status, it's much appreciated.

[2022-05-05 23:05] asinum commented on #216
Hello, it seems that no one is working on it right now and even if I'm not really experienced, it looks like a good point to start a participation if you're okay with that.

[2022-05-06 01:27] goatshriek commented on #216
For sure! I will assign it to you so that it is reserved for you. Feel free to check in with any questions or if you'd like to leave it for someone else!

[2022-05-19 23:02] #216 closed, assigned to asinum

[2022-05-19 23:06] goatshriek opened #228 "sonarcloud workflow fails on pull requests from forks"
The Sonarcloud analysis fails when run against a pull from an external fork, which frequently causes confusion and false failures on collaboration, most recently in #227. The workflow needs to be updated to detect a fork when running, and skip the sonarcloud analysis if this is the case, in order to avoid a false failure.

[2022-05-20 01:31] #228 closed, assigned to goatshriek

[2022-08-06 15:50] SchattenMonarch commented on #215
Hi @goatshriek,

So the task is basically to split the code from _include/private/config/wrapper.h_ file to the .h files where it's used?

I just cloned your rep and used the program agent ransack to search through the whole project and find out where the mentioned file is included:

![image](https://user-images.githubusercontent.com/110403431/183256246-5fd3680e-9dae-4c1a-8725-c6e56c5b3972.png)

[2022-08-07 02:23] goatshriek commented on #215
Hello @SchattenMonarch, thanks for your interest in the project and reaching out about this issue!

The task does involve splitting part of this header into a _new_ separate one, more specifically the portion between lines 25 and 106 in the current latest branch. You'll then need to update the source files that need the moved definitions (which won't be all of the source files that reference the o

[2022-08-20 21:39] matthew-macgregor commented on #78
Hello, @goatshriek. I'd like to work on this issue. I've already scoped out the code based on your description above (and familiarized myself with the various `LOG_*` options to `openlog`). It looks straightforward, but I'd like some direction on a few things.

#### Errors

- In the case that one of the `sendto_*` functions fails it sets an error. If `STUMPLESS_OPTION_CONS` is set, presumably I'd

[2022-08-21 00:39] goatshriek commented on #78
Hi Matthew, these are all excellent questions!

For the error code itself, I would prefer to preserve the original error as you presume, since it will probably be what the caller cares the most about.

I hadn't thought of the scenario of cascading failures, which does complicate things a bit. Again though, I would prefer to keep the original, since I imagine a file stream-based error being potenti

[2022-08-21 04:13] matthew-macgregor commented on #78
Thanks for the feedback! Based on your thoughts, here's a summary of what I have planned for this issue:

- Implement an `unchecked_` version of `stumpless_get_option` based on examples in `src/entry.c`. That'll get me past the tradeoffs related to clearing of errors.
- Errors: In all cases, I'll preserve the original error from the target as you suggested (and I agree, that feels like the best op

[2022-08-27 13:56] matthew-macgregor commented on #78
Hello! I've got a PR just about ready to go (implementation, tests passing, etc.), was doing some manual testing, and ran into a few challenges that I wanted to confirm my understanding.

Test environment: `ubuntu 22.04`, `gcc version 11.2.0 (Ubuntu 11.2.0-19ubuntu1)` testing the network TCP target with a simple python server. After 5 logs the server force closes itself.

In the default case, clos

[2022-08-27 22:40] goatshriek commented on #78
That is definitely an important case to handle, thanks for bringing it up! I think a `SIG_IGN` is a good approach to take for the immediate change, but there should be a more robust solution that tracks the error and updates the target in the long run. If you don't mind creating a new issue for that (any test case would be _hugely_ appreciated), I can start looking into that once I've finished up

[2022-09-03 22:37] matthew-macgregor opened #231 "Handle SIGPIPE for Network Target"
### TL;DR

The network target will terminate the program on POSIX systems if the remote closes the connection. I think the simplest solution is to pass the `MSG_NOSIGNAL` flag to the `send()` function. This should prevent the signal and is scope to just that call.

Might be a very minor change (a few lines?), but this proposed solution needs to be validated.

Other approaches are listed below.

##

[2022-09-03 22:42] matthew-macgregor commented on #78
I added an issue (https://github.com/goatshriek/stumpless/issues/231) and did a little investigation about the options, which I've documented in the description. It _might_ be a small change to deal with the signal just on the send call.

The `CONS` option works with `SIG_IGN`, so I'm going to proceed with wrapping up testing on this issue and get a PR in for it.

[2022-09-04 01:38] goatshriek commented on #78
Awesome, thanks very much for putting in that issue, particularly with the amount of detail! I'll keep an eye out for the PR.

[2022-09-11 00:59] #207 closed, assigned to goatshriek

[2022-09-15 01:12] goatshriek opened #237 "facility and severity from string functions"
Stumpless uses enumerations for some of its settings, most notably the severity and facility codes used in syslog entries. While functions exist to get a string representation of these values, there are not functions that operate in the reverse; that is, are able to return an enumeration type given a string. Such functions would be useful in some scenarios, for example in the command line parsing

[2022-09-20 12:06] SwoleDuck commented on #117
Hello, could i add a greek translation?

[2022-09-20 21:30] goatshriek opened #240 "implement greek (el-GR) localization"
There is a detailed guide on how to go about adding a new language in the [localization documentation](https://github.com/goatshriek/stumpless/blob/latest/docs/localization.md).

If you'd like a concrete example of such a change, check out commit 5529e077eb75c6e79d5634e9d7fc708828b78f89, which shows how to update the various build and header files outlined in the documentation.

[2022-09-20 21:31] goatshriek commented on #117
Hello @SwoleDuck, absolutely! I've created #240 to track that.

[2022-09-21 00:31] goatshriek opened #241 "gtest build fails with pthread errors"
As described in #239, the invocation of `make check` fails with the following errors:

[code]

This appears to be an issue with the pthread flags not being passed in to the linking stage of the build of google test. The issue was observed on a debian system using GCC. If possible, please provide the following information to help with reproduction:

 * version of debian (e.g. `/etc/debian_version`)

[2022-09-21 01:16] #237 closed, assigned to nobody

[2022-09-21 15:04] SwoleDuck commented on #240
Perfect, i assume i'll have it ready in the next 2-3 days (based on how much free time i'll have).

[2022-09-25 19:22] SwoleDuck commented on #240
Just finished with the translation and made a pull request, i'll be awaiting further news

[2022-09-26 00:40] #240 closed, assigned to SwoleDuck

[2022-09-26 00:40] goatshriek commented on #240
Looks great, thank you so much for putting this together!

[2022-10-02 19:40] acass91 commented on #215
Hi @goatshriek, I have some experience with C from working with embedded systems. Could I work on this as part of Hacktoberfest?

[2022-10-03 00:16] goatshriek commented on #215
Absolutely, I'll assign this to you so that it's marked for you to work.

[2022-10-03 17:26] goatshriek opened #244 "network target protocol accessor functions"
Network targets are created with specific network and transport protocols, for example IPv6 (network) over TCP (transport). However, there is not currently a public-facing function to retrieve this information about a target after it has been created. Your task is to add these new functions.

Check out the [Contributing Guidelines](https://github.com/goatshriek/stumpless/blob/latest/docs/CONTRIBUT

[2022-10-03 17:32] goatshriek commented on #193
Hello @Marecek460, just checking to see if you still intend to work on this? No worries if not, just want to see if this should be released for others.

[2022-10-03 18:39] goatshriek opened #245 "prival to string function"
Entries have both a facility and a severity, combined into a value called the prival. While the individual portions can be converted to strings already, the prival itself does not currently have a function to do this. This will be a necessary function to create in order to easily make an entry into a string. Your task is to implement this function.

## General Approach
There are a few details left

[2022-10-03 19:17] goatshriek commented on #215
Closed by #243.

[2022-10-03 19:17] #215 closed, assigned to acass91

[2022-10-05 01:20] goatshriek opened #246 "add target type to string function"
Several of the enumerations in stumpless are defined using a set of preprocessor functions and definitions, so that string conversion functions can be cleanly generated without repeating code. The target type enumeration is currently not done this way, meaning that a clean string conversion for target types is not easy to write. Your task is to refactor the target type enumeration to use this same

[2022-10-06 16:15] goatshriek opened #247 "move wel config wrappers to separate header"
Stumpless uses a scheme involving `#define`names and macro functions to separate its portability measures from the application logic itself. This was originally done via a single header, `include/private/config/wrapper.h`, but as the library grew this single header became bloated. Now features are instead contained in their own dedicated wrapper headers. Older features need to be moved to their ow

[2022-10-07 15:39] cskaust opened #249 "can i know more about stumpless and what are its aspirations"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of the problem this feature would solve.

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Additional context**
A

[2022-10-07 20:27] goatshriek commented on #249
Hello cskaust, thanks for your interest in the project!

The the [readme](https://github.com/goatshriek/stumpless#readme) and [vision](https://github.com/goatshriek/stumpless/blob/latest/docs/vision.md) documents describe what Stumpless is and its aspirations, respectively. Please have a look at these, and if there are any questions that you still have please ask them here. I'll update the documen

[2022-10-08 11:34] Harry-Ramsey commented on #244
Hello, could I be assigned this issue? Seems quite interesting and a nice starting point to contributing to the project.

[2022-10-08 11:38] goatshriek commented on #244
Absolutely! I'll assign it to you to reflect that you're working on it.

[2022-10-08 17:42] goatshriek opened #251 "set/override procid for entry"
Stumpless currently derives the procid field of entries from the process ID it is executing in automatically. However, the field is a 128 printable ASCII field in RFC 5424, and users may want to set this id to something more meaningful to them. This task is to implement a pair of functions to set and retrieve the procid of an entry, which is used if it is set during entry formatting.

## General A

[2022-10-09 20:13] Harry-Ramsey commented on #251
Hello, could I also be assigned this issue? Quick clarification, is the 128 character length excluding the null terminator?

[2022-10-09 20:15] #244 closed, assigned to Harry-Ramsey

[2022-10-09 20:18] goatshriek commented on #251
Sure!

Correct, the 128 character length refers to 128 printable ascii characters, so the maximum size of the byte buffer will be 129. You'll see similar handling logic in `include/stumpless/entry.h` in the definition of the `stumpless_entry` struct to hold the app_name and msgid fields.

[2022-10-10 16:12] goatshriek opened #256 "fixed buffer for element names"
According to RFC 5424, the name of a structured data element may be anywhere between 1 and 32 printable ASCII characters. This means that a fixed buffer could be used to hold the name of an element in the structure, reducing the need for dynamic memory allocation calls and pointer dereferences. This task is to convert the name of the element in the struct from a pointer to a character buffer.

##

[2022-10-11 06:04] abhakta-47 commented on #246
Hi, I would like to work on this.

[2022-10-11 06:04] abhakta-47 commented on #246
`stumpless_get_severity_enum` is also present in severity.c, should I also add a similar `stumpless_get_target_type_enum` ?

[2022-10-11 12:28] goatshriek commented on #246
Sounds good, I will assign it to you so that it is marked as in work.

Please feel free to implement `stumpless_get_target_type_enum` as well if you would like! However, it is not required for this issue.

[2022-10-12 03:12] matthew-macgregor opened #261 "Fix -Wpointer-bool-conversion for target.default_app_name,default_msgid"
**Describe the bug**

I noticed the following warnings while building and running tests. `default_app_name` and `default_msgid` addresses will always evaluate to true.

https://clang.llvm.org/docs/DiagnosticsReference.html#wpointer-bool-conversion

[code]

**Build Environment**
Describe your build environment and any other factors that contribute to the configuration of Stumpless. This should incl

[2022-10-12 09:45] #78 closed, assigned to matthew-macgregor

[2022-10-13 07:37] mk722 commented on #245
Hello, can you assign this issue to me please?

[2022-10-13 08:32] #256 closed, assigned to nobody

[2022-10-13 17:12] #246 closed, assigned to abhakta-47

[2022-10-13 17:16] #249 closed, assigned to goatshriek

[2022-10-13 17:57] #231 closed, assigned to goatshriek

[2022-10-14 06:43] saadsheriff commented on #261
Can I get assigned to this issue? I think I got it!

[2022-10-14 12:22] goatshriek commented on #261
Sure thing!

[2022-10-14 14:03] #247 closed, assigned to nobody

[2022-10-14 18:03] Harry-Ramsey commented on #251
Hello, how do I retrieve the process ID using stumpless? It seems to be the only thing I can trace back to the error I am having where tests randomly segfault.

[2022-10-14 22:22] goatshriek commented on #251
`strbuilder_append_procid` is responsible for this currently. Look in `src/formatter.c` for the usage of it.

[2022-10-14 22:39] christianfrstorm opened #264 "CFS"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior. Code snippets are preferred, especially if they are easily converted to unit tests that can be used for regression testing. Be sure to include the full output of running the snippet as well.

**Expected behavior**
A clear and concise description of what you expected to happen

[2022-10-15 03:15] abhakta-47 commented on #103
This looks interesting. Can I work on it ?

[2022-10-15 12:03] northernSage commented on #103
Yes, go ahead. I'm a bit caught up in other stuff at the moment :/

[2022-10-16 18:39] #264 closed, assigned to nobody

[2022-10-16 20:17] christianfrstorm opened #268 "CFS bug"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior. Code snippets are preferred, especially if they are easily converted to unit tests that can be used for regression testing. Be sure to include the full output of running the snippet as well.

**Expected behavior**
A clear and concise description of what you expected to happen

[2022-10-16 20:29] #268 closed, assigned to nobody

[2022-10-17 17:12] goatshriek opened #271 "factor config_getpid out of wrapper.h"
Stumpless uses a scheme involving `#define`names and macro functions to separate its portability measures from the application logic itself. This was originally done via a single header, `include/private/config/wrapper.h`, but as the library grew this single header became bloated. Now features are instead contained in their own dedicated wrapper headers. Older features and functions need to be mov

[2022-10-17 17:31] goatshriek opened #272 "create wide string set entry message functions"
Windows applications that support unicode characters typically use wide UTF-16 strings to represent them, instead of the UTF-8 multibyte characters that stumpless supports by default. Wide string versions of some stumpless functions are available to allow users to avoid doing conversions themselves, but not all string-based functions support this. Your task is to add a wide string version of the e

[2022-10-17 17:37] mk722 commented on #245
Sorry, I haven't started this issue yet, I had a lot in work, but I'll do it this week.

[2022-10-17 17:39] goatshriek commented on #245
No worries, thanks very much for the update!

[2022-10-17 17:48] goatshriek opened #273 "test wel insertion string with invalid utf-8"
The test suite for the Windows Event Log is missing tests that cover some scenarios, partially due to a lack of easy access to coverage information for Windows-enabled builds. This task is to add a test covering behavior of the library in some scenarios.

## General Approach
There are a few details left out of the following outline, for you to fill in as you encounter them. If you find you need he

[2022-10-18 00:28] goatshriek opened #274 "element deadlock"
Multiple CI invocations have failed on the `ElementConsistency.SimultaneousReadsAndWrites` thread safety test with a deadlock. This needs to be identified and addressed.

These have happened in Windows builds, but this does not necessarily mean that the deadlock occurs in Windows-specific code.

[2022-10-18 02:06] lhardt commented on #117
Hello! I would like to add the Portuguese-Brazil translations!

Could you add the tags for hacktoberfest on this?

[2022-10-18 02:14] goatshriek opened #275 "implement portuguese (pt-BR) localization"
There is a detailed guide on how to go about adding a new language in the [localization documentation](https://github.com/goatshriek/stumpless/blob/latest/docs/localization.md).

If you'd like a concrete example of such a change, check out commit 5529e077eb75c6e79d5634e9d7fc708828b78f89, which shows how to update the various build and header files outlined in the documentation.

[2022-10-18 02:15] goatshriek commented on #117
Absolutely @lhardt! I've created #275 to track this - once the PR is submitted and merged I'll add the tags to that so that you get credit.

[2022-10-18 12:48] lhardt commented on #275
Working on this

[2022-10-20 22:22] #275 closed, assigned to lhardt

[2022-10-20 22:44] lhardt commented on #275
Hello! Can you tag it as accepted in hacktoberfest?

[2022-10-20 22:55] goatshriek commented on #275
To my knowledge the `hacktoberfest-accepted` tag assigned to the PR is sufficient to reflect credit. It may take some time for it to show on Digital Ocean's side.

[2022-10-21 15:08] mk722 commented on #245
Hello, I wanted just to let you know, that I caught covid this week and I can't program at the moment because of it. Are you in a hurry with this issue? I suppose, that for the next week, if I feel better, I would have already finished it.

[2022-10-21 17:57] goatshriek commented on #245
No worries at all, `good first issue`s are specifically not time critical to give newcomers time to work on them without feeling rushed. As long as you keep us informed that you are still working on this, you can take as long as you need to.

We wish you a speedy recovery!

[2022-10-23 02:26] abhakta-47 commented on #103
In `sendto_stream_target` how to get the severity of the msg, to choose which escapecode to write depending on the severity.

[2022-10-23 13:43] BigJimHillJameel commented on #103
[Datad](https://m.wikidata.org/wiki/Q84203597)

sick

[2022-10-23 23:56] #271 closed, assigned to nobody

[2022-10-24 00:42] goatshriek commented on #103
The previous comment was deleted as irrelevant spam.

@abhakta-47 that's a great question, the current implementation doesn't support this. You'll need to modify the signature of the function to also receive the entry in addition to the buffer, similar to what `config_sendto_wel_target` already does. Eventually the signatures of the `sendto_` functions will be standardized, but for now they differ

[2022-10-24 07:13] Santhusha-bit commented on #117
Hello! I would like to add the Sinhala(Sri Lanka) translations!
Could you add the tags for hacktoberfest on this?

[2022-10-24 09:45] goatshriek opened #283 "implement sinhala (si-LK) localization"
There is a detailed guide on how to go about adding a new language in the [localization documentation](https://github.com/goatshriek/stumpless/blob/latest/docs/localization.md).

If you'd like a concrete example of such a change, check out commit 5529e077eb75c6e79d5634e9d7fc708828b78f89, which shows how to update the various build and header files outlined in the documentation.

[2022-10-24 09:45] goatshriek commented on #117
Sure thing, @Santhusha-bit! I've created #283 to track this, and will add the tags to the PR once it is merged for hacktoberfest.

[2022-10-24 17:39] viveknshah opened #284 "implement hindi (hi-IN) localization"
There is a detailed guide on how to go about adding a new language in the [localization documentation](https://github.com/goatshriek/stumpless/blob/latest/docs/localization.md).

If you'd like a concrete example of such a change, check out commit https://github.com/goatshriek/stumpless/commit/5529e077eb75c6e79d5634e9d7fc708828b78f89, which shows how to update the various build and header files out

[2022-10-24 17:40] viveknshah commented on #284
To solve for #117

[2022-10-24 17:51] viveknshah commented on #117
Hi @goatshriek , I have followed your guidance to create #284 and solve via #285 . Let me know if that works or any feedback since this is my first time in this space.

[2022-10-24 19:53] Harry-Ramsey commented on #274
Just wanted to look into this issue a bit if it is still occurring. Where were you looking to find the failed CI invocations?

[2022-10-24 20:23] goatshriek commented on #274
This issue sporadically happened with CI runs on pull requests, unfortunately these have all since expired though. The test referenced above would hang until the run was cancelled.

I did find and fix one issue, but it wasn't a deadlock problem itself, so I am not confident the problem has been solved. If another run fails, I will capture the failure log and post it here.

[2022-10-24 21:11] #251 closed, assigned to Harry-Ramsey

[2022-10-24 21:16] goatshriek commented on #117
Awesome @viveknshah, thanks! I've left a review on the PR, once those changes are made you should be good to go.

[2022-10-25 00:13] goatshriek opened #286 "factor config_gethostname out of wrapper.h"
Stumpless uses a scheme involving `#define`names and macro functions to separate its portability measures from the application logic itself. This was originally done via a single header, `include/private/config/wrapper.h`, but as the library grew this single header became bloated. Now features are instead contained in their own dedicated wrapper headers. Older features and functions need to be mov

[2022-10-25 19:11] Harry-Ramsey commented on #286
Could I be assigned this? Seems interesting.

[2022-10-25 20:02] #284 closed, assigned to viveknshah

[2022-10-25 20:03] goatshriek commented on #286
Sure thing!

[2022-10-26 00:24] #286 closed, assigned to Harry-Ramsey

[2022-10-27 00:37] goatshriek opened #289 "factor config_getpagesize out of wrapper.h"
Stumpless uses a scheme involving `#define`names and macro functions to separate its portability measures from the application logic itself. This was originally done via a single header, `include/private/config/wrapper.h`, but as the library grew this single header became bloated. Now features are instead contained in their own dedicated wrapper headers. Older features and functions need to be mov

[2022-10-27 13:27] abhakta-47 commented on #103
What would be the fastest way to this test color functionality, other than installing and writing code ?
Also, How to use example-basics example-streams etc. ?

[2022-10-27 13:31] abhakta-47 commented on #103
I want to keep terminal_colors code in a different header/source file. I have created a header file and put related definitions in there. But, functions in the source_file are not picked up by the compiler (already added the src file in STUMPLESS_SOURCES list in cmakelist). What should I do ?

[2022-10-27 14:06] goatshriek commented on #103
For testing, look at the test suites in the `test/function/target/stream.cpp` file, which is where you would add your test code. To test it visually you can modify some of the example code to just have a quick look.

I'm not sure what the problem could be based on your description. You can create a pull request in draft mode if you still need this reviewed.

[2022-10-27 16:44] Harry-Ramsey commented on #289
I wouldn't mind picking up this issue if no one else wants to?

[2022-10-27 20:21] goatshriek commented on #289
I discourage contributors from working multiple "good first issue"s that are focused on the same problem, and this issue is a direct successor to #286, which you already resolved. Since you've already been through this exercise I don't think you would gain as much from it as someone who hasn't worked through one of these yet.

If none of the other open issues are of interest to you, I will be putt

[2022-10-28 20:28] das-amit commented on #117
Hey @goatshriek , I've added Bengali Translations.
Have a look #291

[2022-10-29 09:07] ash-kamrip commented on #289
Hi @goatshriek , I would like to take this up !

[2022-10-29 12:24] goatshriek commented on #289
Sure thing @ash-kamrip!

[2022-10-29 14:26] goatshriek opened #293 "factor config_open_default_target out of wrapper.h"
Stumpless uses a scheme involving `#define`names and macro functions to separate its portability measures from the application logic itself. This was originally done via a single header, `include/private/config/wrapper.h`, but as the library grew this single header became bloated. Now features are instead contained in their own dedicated wrapper headers. Older features and functions need to be mov

[2022-10-29 17:51] #289 closed, assigned to ash-kamrip

[2022-10-29 18:01] goatshriek opened #294 "set/override hostname for entry"
Stumpless currently derives the hostname field of entries from the hostname of the machine it is running on automatically. However, the field is a 255 printable ASCII field in RFC 5424, and users may want to set this to something more meaningful to them. This task is to implement a pair of functions to set and retrieve the hostnameof an entry, which is used if it is set during entry formatting.

#

[2022-10-29 18:05] goatshriek opened #295 "factor config_get_now out of wrapper.h"
Stumpless uses a scheme involving `#define`names and macro functions to separate its portability measures from the application logic itself. This was originally done via a single header, `include/private/config/wrapper.h`, but as the library grew this single header became bloated. Now features are instead contained in their own dedicated wrapper headers. Older features and functions need to be mov

[2022-10-29 18:40] Sakshi-75 commented on #295
Hi @goatshriek ,
Can I work on this?

[2022-10-29 18:41] goatshriek commented on #295
Sure thing!

[2022-10-29 19:18] Sakshi-75 commented on #295
Hi @goatshriek ,
I've raised a PR for this: #296
Can you review it please?

[2022-10-29 19:51] goatshriek opened #297 "factor config_format_string out of wrapper.h"
Stumpless uses a scheme involving `#define`names and macro functions to separate its portability measures from the application logic itself. This was originally done via a single header, `include/private/config/wrapper.h`, but as the library grew this single header became bloated. Now features are instead contained in their own dedicated wrapper headers. Older features and functions need to be mov

[2022-10-30 13:21] #295 closed, assigned to Sakshi-75

[2022-10-30 13:24] goatshriek opened #298 "factor config_fopen out of wrapper.h"
Stumpless uses a scheme involving `#define`names and macro functions to separate its portability measures from the application logic itself. This was originally done via a single header, `include/private/config/wrapper.h`, but as the library grew this single header became bloated. Now features are instead contained in their own dedicated wrapper headers. Older features and functions need to be mov

[2022-10-30 14:11] Sakshi-75 commented on #298
Hi @goatshriek , can I work on this?

[2022-10-30 14:16] goatshriek commented on #298
I discourage contributors from working multiple "good first issue"s that are focused on the same problem, and this issue is a direct successor to the one you just resolved. Since you've already been through this exercise I don't think you would gain as much from it as someone who hasn't worked through one of these yet.

There are a number of other issues with detailed guides, have a look through t

[2022-10-31 01:50] BabaFola opened #299 "Fix Bugging"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior. Code snippets are preferred, especially if they are easily converted to unit tests that can be used for regression testing. Be sure to include the full output of running the snippet as well.

**Expected behavior**
A clear and concise description of what you expected to happen

[2022-10-31 01:51] BabaFola commented on #299
Nu Fix

[2022-10-31 09:07] #299 closed

[2022-10-31 10:31] BabaFola commented on #299
Thank you for your response

On Mon, 31 Oct 2022, 10:07 am Joel ***@***.***> wrote:

[2022-10-31 12:19] m20027 commented on #117
Japanese is not yet?

[2022-10-31 17:10] sivasuriyankumarasamy commented on #293
Hi @goatshriek,

can you assign this to me.

[2022-10-31 17:43] sivasuriyankumarasamy commented on #293
Hi @goatshriek
Raised pr for this. please review it.
Thanks

[2022-10-31 20:16] goatshriek opened #301 "implement japanese (ja-JP) localization"
There is a detailed guide on how to go about adding a new language in the [localization documentation](https://github.com/goatshriek/stumpless/blob/latest/docs/localization.md).

If you'd like a concrete example of such a change, check out commit 5529e077eb75c6e79d5634e9d7fc708828b78f89, which shows how to update the various build and header files outlined in the documentation.

[2022-10-31 20:16] goatshriek commented on #117
Hello @m20027, Japanese has not been added yet! I've created #301 if you would like to tackle this.

[2022-11-01 03:04] m20027 commented on #301
I wonder I could  but I tried

[2022-11-01 23:40] mrodz commented on #297
I can help out on this one :)

[2022-11-02 21:46] iltenahmet commented on #298
Hi @goatshriek, I'm new to open source, can I work on this?

[2022-11-02 22:26] goatshriek commented on #298
Absolutely! I've assigned it to you so that others know you are working on it.

[2022-11-03 01:59] mrodz opened #303 "More details on contributing on Windows"
**Is your feature request related to a problem? Please describe.**
More details on how to develop/contribute on Windows, for this is covered very briefly.

**Describe the solution you'd like**
A notice on the [Development Guide](https://github.com/goatshriek/stumpless/blob/latest/docs/development.md) with more information on how to build on Windows. Essentially, this project can only be built in V

[2022-11-03 09:32] goatshriek commented on #303
This would be a welcome change.

There is some documentation on building from the source in the [INSTALL.md](https://github.com/goatshriek/stumpless/blob/latest/INSTALL.md#building) file, which describes toolchain-agnostic CMake commands that can be used to configure and build using CMake's [build mode](https://cmake.org/cmake/help/latest/manual/cmake.1.html#build-a-project). You can probably repl

[2022-11-03 09:53] #297 closed, assigned to nobody

[2022-11-03 17:27] mrodz commented on #303
Hello! My comment about CLion doesn't have so much to do with the IDE, but more with the build target. I tried building the project with `cmake`, first generating standard Makefiles and later MSYS Makefiles, but I kept getting cryptic error messages. Eventually, on some obscure thread online, I saw a comment that said my stack trace meant one of the dependencies could only be built with .vcxproj a

[2022-11-05 00:03] goatshriek commented on #303
Of course any documentation updates are always welcome for consideration!

Details on any build failures are also welcome. If there are reasonable changes we can make that would increase portability we will try to find a way to make them: portability is a primary goal of this project.

[2022-11-06 18:51] mk722 commented on #245
Hello, I just want to let you know that I am still working on this issue, I just have a more difficult course of covid, so it will take a while.
Thank you for understanding.

[2022-11-08 22:27] Gustrb commented on #294
I'm interested in tackling this issue. Is there any guid for beginners to contribute to the project? :)

[2022-11-08 22:30] Gustrb commented on #294
I'll look into implementing this functions! Thanks for such descriptive issue, it will be really helpful

[2022-11-10 01:18] #294 closed, assigned to nobody

[2022-11-16 00:58] goatshriek commented on #193
This item is open for others to tackle once more.

[2022-11-16 01:14] goatshriek commented on #303
9f6a7761d86b7e8d791575878fde5cde9b02a47e included some updates to the language in [docs/development.md](https://github.com/goatshriek/stumpless/blob/latest/docs/development.md) to also include the cmake build mode commands for increased portability, in an effort to make progress towards answering this issue.